body {
  background: rgb(197, 177, 226);
  font-family: "Roboto", sans-serif;
}

a {
  color: rgb(197, 177, 226);
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background: white;
  border: solid mediumpurple;
  color: mediumvioletred;
  font-size: 18px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: palevioletred;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  color: rgb(108, 22, 145);
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
  color: rgb(108, 22, 145);
}
.current-details {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: mediumpurple;
}

.current-details strong {
  color: mediumvioletred;
}

.current-temperature-icon {
  position: relative;
  top: -8px;
  font-size: 40px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  display: block;
  text-align: center;
  color: darkmagenta;
}
